* {
    box-sizing: border-box;
}



.box {
    width: 400px;
    height: 400px;
    border: solid 10px rgba(0, 0, 0, 0.9);
    margin: 10% auto;
    padding: 70px;
    background-color: white;
}

.title {
    color:white;
    font-size: 50px;
    text-align: center;
}

body {
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);

}

.console{
    width: 210px;
    height: 210px;
    border-radius: 15px;
    padding: 10px;
}
